#postModal {
    position: absolute;
    padding-top: 100px;
}

.modal-content {
    background-color: var(--post-bg-color);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#image-preview, #pop-image-preview {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}


#preview-img, #pop-preview-img  {
    position: relative;
    z-index: 2;
    max-width: 90%;
    max-height: 90%; 
    object-fit: contain; 
    border-radius: 8px;
}

#remove-image, #pop-remove-image {
    position: absolute;
    top: 10px;
    right: -10%;
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
