.post-form form {
    display: flex;
    flex-direction: column;        
    gap: 10px;                    
    width: 100%;                 
}

textarea.create-caption {
    flex: 1;
    height: 50px;
    resize: none;                
    border: 1px solid #ccc;       
    border-radius: 4px;          
    padding: 5px 10px;           
}

#image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

button.btn-primary {
    width: 100px;
    height: 40px;
}

.upload-button img {
    cursor: pointer;
}

button#remove-image {
    font-size: 16px;
    color: red;
}

