/* Profile */
.profile-container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: center;
    width: 900px;
    max-width: 1100px;
    /* height: 55vh;
    min-height: 150px;
    max-height: fit-content; */
    background-color: var(--post-bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid var(--post-bg-color); */
    z-index: 998;
    padding: 0px 30px 0px 30px;
    left: 0;
    right: 0;
    margin: 50px 25% 0px 25%;
    /* margin: 80px 600px 10px 600px; */
    /* box-sizing: border-box; */
}

.profile-display-area {
    justify-items: center;
    width: 50vw;
    /* Chiếm 50% chiều rộng màn hình để post căn giữa, và không lấn sang aside-right */
    margin-left: 25%;
    /* Chừa chỗ cho aside-left */
    margin-right: 25%;
    /* Chừa chỗ cho aside-right */
    /* padding-top: 300px; */
    /* Chừa chỗ cho header */
    padding-bottom: 50px;
    /* Chừa chỗ cho footer */
}

.profile-info-area {
    justify-items: center;
    width: 50vw;
    /* Chiếm 50% chiều rộng màn hình để post căn giữa, và không lấn sang aside-right */
    margin-left: 25%;
    /* Chừa chỗ cho aside-left */
    margin-right: 25%;
    /* Chừa chỗ cho aside-right */
    padding-top: 10px;
    /* Chừa chỗ cho header */
    padding-bottom: 50px;
    /* Chừa chỗ cho footer */
}

.profile-header {
    display: flex;
    margin-left: 25%;
}

.profile-body {
    margin-left: 25%;
    margin-top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* Chia thành 3 cột */
    gap: 20px;
    /* Khoảng cách giữa các cột */
    color: var(--text-color);
    /* Màu chữ */
    background-color: var(--post-bg-color);
    /* Màu nền */
    padding: 20px;
    /* Khoảng cách bên trong */
}

.profile-column {
    display: flex;
    flex-direction: column;
    /* Mỗi cột có 2 dòng */
}

.profile-column p {
    margin: 0;
    /* Khoảng cách giữa các dòng trong cột */
}

.profile-avatar {
    /* background-color: #d3d3d3; */
    border: 5px #075CE6 solid;
    border-radius: 50%;
    position: absolute;
}

.change-avt-btn {
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 50px;
    /* left: 730px; */
    top: 160px;
    background: white;
    padding: 5px;
    border-radius: 40%;
    border: #075CE6 solid 4px;
    object-fit: cover; 
}

.delete-avt-btn {
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 50px;
    /* left: 995px; */
    top: 160px;
    background: white;
    padding: 5px;
    border-radius: 25%;
    border: #075CE6 solid 3px;
    object-fit: cover; 
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info span {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-color);
    opacity: 1;
    width: 100%;
}

.nav-bar-list {
    list-style-type: none;
    margin-top: 0;

}

.nav-bar-list a {
    text-decoration: none;
}

.nav-bar-list li {
    float: left;
    padding: 10px;
    margin-right: 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
}

.nav-bar-list li:hover {
    background-color: var(--background-color);
    cursor: pointer;
}


/* edit profile */
.right-aligned-input {
    display: flex;
    justify-content: end;
}

.right-aligned-input input {
    width: 370px;
}