/* CSS cho Modal */
.modal-content {
    background-color: rgba(47, 43, 43, 0.9);
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    /* width: 50%;
    max-width: 600px; */
    border-radius: 10px;
}

.align-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}