:root {
    --primary-color: #000;
    --hover-color: #333;
    --background-color: #000;
    --text-color: #fff;
    --aside-color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
}

.logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    margin: 10px 0;
    font-size: 18px;
}


.login-form {
    width: 100%;
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS cho Modal */
#Modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

/* Nội dung modal */
.modal-content {
    background-color: rgba(47, 43, 43, 0.9);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    /* width: 50%;
    max-width: 600px; */
    border-radius: 10px;
}

.align-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

/* Alert container */
#custom-alert {
    position: fixed;
    top: -100px;
    /* Ban đầu ở ngoài màn hình */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    /* Màu nền (xanh lá) */
    color: white;
    /* Màu chữ */
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    /* Ban đầu ẩn */
    z-index: 1000;
    font-family: Arial, sans-serif;
    animation: none;
    /* Ban đầu không có animation */
}

/* Hiển thị alert với hiệu ứng rơi */
#custom-alert.show {
    animation: drop-down 0.6s ease forwards;
}

/* Ẩn alert với hiệu ứng kéo lên */
#custom-alert.hide {
    animation: slide-up 0.6s ease forwards;
}

/* Hiệu ứng rơi xuống */
@keyframes drop-down {
    0% {
        top: -100px;
        opacity: 0;
    }

    60% {
        top: 30px;
        /* Rơi xuống vượt mức một chút */
        opacity: 1;
    }

    100% {
        top: 20px;
        /* Ổn định tại vị trí */
        opacity: 1;
    }
}

/* Hiệu ứng kéo lên */
@keyframes slide-up {
    0% {
        top: 20px;
        opacity: 1;
    }

    100% {
        top: -100px;
        /* Kéo lên ngoài màn hình */
        opacity: 0;
    }
}